/mnt/HDD500/FlaskArchitect_Blog/static/assets/needs_edit.mp4
/mnt/HDD500/FlaskArchitect_Blog/videoFly.mp4
/mnt/HDD500/FlaskArchitect_Blog/TRANSITIONS/first_background.mp4
/mnt/HDD500/FlaskArchitect_Blog/TRANSITIONS/vids/512x768_output_videoEXP02-2.mp4
/mnt/HDD500/FlaskArchitect_Blog/TRANSITIONS/vids/fancy.mp4
/mnt/HDD500/FlaskArchitect_Blog/TRANSITIONS/vids/_Test_video.mp4
/mnt/HDD500/FlaskArchitect_Blog/TRANSITIONS/vids/512x768_output_EXP08.mp4
/mnt/HDD500/FlaskArchitect_Blog/TRANSITIONS/vids/Beautiful_Female_Cyborg_Dali_Style_by_FlaskArchitect.mp4
/mnt/HDD500/FlaskArchitect_Blog/TRANSITIONS/vids/512x768_output_EXP01.mp4
/mnt/HDD500/FlaskArchitect_Blog/TRANSITIONS/vids/queen2.mp4
/mnt/HDD500/FlaskArchitect_Blog/TRANSITIONS/vids/512x768_EXP_001.mp4
/mnt/HDD500/FlaskArchitect_Blog/temp/first_background.mp4
/mnt/HDD500/FlaskArchitect_Blog/temp/fancy.mp4
/mnt/HDD500/FlaskArchitect_Blog/temp/_Test_video.mp4
/mnt/HDD500/FlaskArchitect_Blog/temp/Beautiful_Female_Cyborg_Dali_Style_by_FlaskArchitect.mp4
/mnt/HDD500/FlaskArchitect_Blog/temp/queen2.mp4
/mnt/HDD500/FlaskArchitect_Blog/static/assets/needs_edit.mp4
/mnt/HDD500/FlaskArchitect_Blog/static/assets/Video_01.mp4
# Ignore all .db files
*.db
*.mp4
