<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/dark.css') }}">
</head>
<body>
    <h1>Image Gallery</h1>
    <a href="/">Home</a>
    <div class="gallery">
        {% for item in gallery_data %}
            <div class="directory">
                <h2>Directory: {{ item.directory }}</h2>
                <div class="images">
                    {% for img in item.images %}
                        <img src="{{ url_for('static', filename=img.replace('static/', '')) }}" alt="Image">
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
